$background: #BCDEF9;
$background-form: #A4C4F3;
$background-content: #DEEFFF;
$padding: 1rem;
$font-size: 1.6rem;
$viewport-homepage: 100vh;
$footer-padding: 3rem 0;
$header-padding: 5rem ;
.App{
     background-image: url("../../zemosa/public/images/zemosahp.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;

}
.homepage {
    padding: 2rem;
    display: flex;
    height: $viewport-homepage;
    background: $background-content;
    background-image: url("../../zemosa/public/images/zemosahp.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 1;
    background-color: $background;
}
.header {
    background-color: $background;
    padding: $header-padding;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5vh;
    z-index: 1;
}
#search-header {
    padding: 1rem;
}
.dictionary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem;
}
.social-media-icons {


    padding: 3rem;
}
.form-container {
    margin: 6rem 2rem;
    display: flex;
    flex-direction: column;
}
.form-group {
    padding: 0.5rem;
}
.login-input {
    padding: $padding;
  width:20rem;
    border-radius: 50px;
    
}
.sign-in{
    font-size:$font-size
}
.listIcon{
    padding: 0.4rem;
//      transform: translate(-50% +50%);
//  transition: transform 2s ease-in;
}
.ham-list {
    background-color:$background-form;
    font-size:1.5rem;
    padding: 0.5rem;
 background-attachment:$background-content;
 
   
}
.ul-header a{
     text-decoration: none;
   
}
//////////////////////////////////////
//dic

.dictionary,
.example-list,
.meaning-list,
.meaning-definitions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $background-content;
   margin: 8rem;
   


    #dic-input {
        padding: 1rem;
        border-radius: 50px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-color: rgb(64, 104, 104);
        
    }
    #dic-button {
        padding: 1rem;
        border-radius: 50px;
        // background-color: rgb(216, 183, 167);

    }
    //  #dic-input:hover {
    //     background-color: rgb(64, 104, 104);}
        
    
    // #dic-button:hover {
    //     background-color: rgb(64, 104, 104);
    //     color: rgb(255, 255, 255);
    // }
}
