.einbuergerungstest {
    margin-top: 150px;
    display: flex;
    align-items: center;

    .title{

    }

    // .bw{
    //     position: absolute;
    //     top: 550px;
    //     left: 600px;
    // }
    // .bayern{
    //     position: absolute;
    //     top: 500px;
    //     left: 750px;
    // }
    // .berlin{
    //     position: absolute;
    //     top:310px;
    //     right: 650px;
    // }
    // .brandenburg{


    // }
}
