.searchBar {
    margin-top: 100px;
    padding: 20px;
    background-color: #deefff;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
        text-align: center;
    }

    .searchInput {
        width: 500px;
        text-align: center;
        font-size: 1.2rem;
        padding: 10px;
        margin: 20px;
        border-radius: 50px;
        border: none;
    }

    .jsonData {
        margin: 20px;
        padding: 20px;
        background-color: #f6c6ea;
        border-radius: 50px;
        text-align: center;

        .answer {
            background-color: #cdf0ea;
            text-align: center;
            padding: 10px;
            margin-top: 15px;
            border-radius: 50px;
        }
    }
}
